In [5]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [7]:
#using pandas read function to read the csv file from path
df = pd.read_csv("https://github.com/YBIFoundation/Dataset/raw/main/Admission%20Chance.csv")

In [8]:
#head function is use to read the starting data of the file
df.head()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [9]:
#by using tail function last data is displayed from the csv file
df.tail()

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
395,396,324,110,3,3.5,3.5,9.04,1,0.82
396,397,325,107,3,3.0,3.5,9.11,1,0.84
397,398,330,116,4,5.0,4.5,9.45,1,0.91
398,399,312,103,3,3.5,4.0,8.78,0,0.67
399,400,333,117,4,5.0,4.0,9.66,1,0.95

In [10]:
#isnull() function is used to check the null values in file
df.isnull().sum()

Serial No            0
GRE Score            0
TOEFL Score          0
University Rating    0
 SOP                 0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [11]:
#independent features from the file of data
X = df.iloc[:,:-1]

In [12]:
X

,Serial No,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
0,1,337,118,4,4.5,4.5,9.65,1
1,2,324,107,4,4.0,4.5,8.87,1
2,3,316,104,3,3.0,3.5,8.00,1
3,4,322,110,3,3.5,2.5,8.67,1
4,5,314,103,2,2.0,3.0,8.21,0
...,...,...,...,...,...,...,...,...
395,396,324,110,3,3.5,3.5,9.04,1
396,397,325,107,3,3.0,3.5,9.11,1
397,398,330,116,4,5.0,4.5,9.45,1
398,399,312,103,3,3.5,4.0,8.78,0
399,400,333,117,4,5.0,4.0,9.66,1

In [13]:
#dependent features from the file of data
y = df.iloc[:,-1]

In [14]:
y

0      0.92
1      0.76
2      0.72
3      0.80
4      0.65
       ...
395    0.82
396    0.84
397    0.91
398    0.67
399    0.95
Name: Chance of Admit , Length: 400, dtype: float64

In [15]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=2000)

In [16]:
from sklearn.tree import DecisionTreeRegressor,plot_tree

In [17]:
reg=DecisionTreeRegressor()

In [19]:
reg.fit(X_train,y_train)

DecisionTreeRegressor()

In [20]:
#testing the model on training sample
reg.score(X_train,y_train)

1.0

In [21]:
#cross validate the train sample
from sklearn.model_selection import cross_validate

In [22]:
cross_validate(reg, X_train, y_train, cv=5)

{'fit_time': array([0.02659178, 0.01560688, 0.01562214, 0.01717234, 0.01568604]),
 'score_time': array([0.01562834, 0.        , 0.        , 0.        , 0.        ]),
 'test_score': array([0.63053561, 0.6222769 , 0.57040263, 0.70391384, 0.68251029])}

In [23]:
reg.score(X_train,y_train)

1.0

In [24]:
reg.get_params()

{'ccp_alpha': 0.0,
 'criterion': 'squared_error',
 'max_depth': None,
 'max_features': None,
 'max_leaf_nodes': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'random_state': None,
 'splitter': 'best'}

In [25]:
# hyperparameters selection
params = {'model__max_depth' : [2,3,4,5,6,7,8, 9, 10],
        'model__criterion' : ['squared_error', 'absolute_error'],
        'model__random_state' : [2000]}